header {
background: linear-gradient(at top, #EECFBA, #C5DDE8);
background-repeat: no-repeat;
background-size: cover;
background-position:top center; 
font-align:center;
font-size:15px;
color:red;
}
body{
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
background-repeat: no-repeat;
background-size: cover;
background-position:top center; 
}
.st1{
padding:6px;
margin:1px;
border-bottom:5px ridge;
border-bottom-color:#0000ff;
text-align:center;
}
.st2{
padding:6px;
margin:1px;
border-bottom:5px ridge;
border-bottom-color:#1427a3;
}
