header {
background: linear-gradient(at top, #EECFBA, #C5DDE8);
background-repeat: no-repeat;
background-size: cover;
background-position:top center; 
font-align:center;
font-size:15px;
color:red;
}
body{
background: linear-gradient(45deg, #EECFBA, #C5DDE8);
background-repeat: no-repeat;
background-size: cover;
background-position:top center; 
}
.st1{
padding:0px;
margin:1px;
text-align:right;
font-family:serif;
font-weight:900;
font-variant:small-caps;
text-shadow:1px 1px 2px black,0 0 1em green;
}
.st2{
padding:6px;
margin:1px;
border-bottom:5px ridge;
border-bottom-color:#1427a3;
}
.frame{
background-color:blue;
border:3px ridge red;
padding:20px;
}
